<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
</head>

<body>
    <div class="main-content"> {{>header}}
        <img class="portrait" src="/img/cat.jpg">
        <p>This site was created by Pongiri Chatkaew. It uses data from mapbox.com and darksky.net</p>
    </div>

    {{>footer}}
</body>

</html>